<li  *ngFor="let product of products; index as i">
<mat-card class="card-container">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title> {{ product.name }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
            {{product.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>ORDER</button>
      </mat-card-actions>
</mat-card>
</li>